#!/usr/bin/env bash

# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."

alias x='clear'
alias xl='clear; la'

# Apply changes to aliases
alias sa='source ~/.aliases;echo "Bash aliases sourced."'
# Edit Aliases
alias ea='code-insiders ~/.aliases'

alias rm="rm -i"

# Detect which `ls` flavor is in use
if gls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# ls options: F = put `/` after folders, h = byte unit suffixes, color! (even with piping to awk)
# alias ls='CLICOLOR_FORCE=1 gls -aFh ${colorflag}'

# File size
alias fs="stat -f \"%z bytes\""

# Empty the Trash on all mounted volumes and the main HDD
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash"

# Git
# alias g="git"
alias ga="git add ."
alias gc="git clone"
alias gl="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'"
alias gs="git stash push --include-untracked"
alias gsa="git stash apply"
alias gsl="git stash list"
alias undopush="git push -f origin HEAD^:master"


# files output
alias tail="gtail -F" # follows log rotations
alias split="gsplit"
alias csplit="gcsplit"

# summarizing files
alias sum="gsum"
alias cksum="cksum"
alias md5sum="gmd5sum"
alias sha1sum="gsha1sum"

# operating on fields
alias cut="gcut"
alias paste="gpaste"
alias join="gjoin"

# basic ops
alias cp="gcp -v"
alias mv="gmv -v"
alias rm="grm -v"
alias shred="gshred"

# special filetypes
alias link="glink"
alias unlink="gunlink"
alias mkdir="gmkdir -v"
alias rmdir="grmdir -v"
alias readlink="greadlink"

# changing file attributes
alias chmod="gchmod -v"
alias chown="gchown -v"
alias chgrp="gchgrp -v"
alias touch="gtouch"

# disk usage
alias df="gdf"
alias du="gdu"
alias stat="gstat"
alias sync="gsync"
alias truncate="gtruncate"

# printing text
alias echo="gecho"
alias printf="gprintf"

# redirection
alias tee="gtee"

# the rest
alias awk="gawk"
# alias grep="ggrep --color"

alias ln="gln"
alias ln-sym="gln -nsf" # symlinks

# findutils
alias find="gfind"
alias locate="glocate"
alias updatedb="gupdatedb"
alias xargs="gxargs"

# binutils
alias addr2line="gaddr2line"
alias ar="gar"
alias c++filt="gc++filt"
alias dlltool="gdlltool"
alias nlmconv="gnlmconv"
alias nm="gnm"
alias objcopy="gobjcopy"
alias objdump="gobjdump"
alias ranlib="granlib"
alias readelf="greadelf"
alias size="gsize"
alias strings="gstrings" # lol
alias strip="gstrip"

# tar
# alias tar="gtar"

# sed
# alias sed="gsed"

#  ="SHA-512" hashValue="X2rVmpgErFJmlFkvEKKSPhFA1jnlu4GHEvJxA6hR+xTKTvVB8WCbGwO55mLrGPh96RLk7XcF0uaID0VmfA==" saltValue="TR2b+PeSwO1NHp9obKKGjw==" spinCount="100000" sheet="1" objects="1" scenarios="1" selectLockedCells="1"/>
#  ="SHA-512" hashValue="X2rVmpgErFJmlFkvEKKSPhFA1jnlu4GHEvJxA6hR+xTKTvVB8WCbGwO55mLrGPh96RLk7XcF0uaID0VmfA==" saltValue="TR2b+PeSwO1NHp9obKKGjw==" spinCount="100000" sheet="1" objects="1" scenarios="1" selectLockedCells="1"/>
# <testtest123 /><testtest123 />
# which
alias which="gwhich"

# shortcuts
alias md="mkdir"
alias t="touch"
alias x="clear"
alias c="code-insiders"
alias c.="code-insiders ."
alias o="open ."
alias vi="nvim"
alias vim="nvim"
alias v="nvim"
alias x+="chmod +x"
alias restart="sudo reboot"
alias bye="sudo shutdown -r now"
alias get="curl -O -L"
alias reload="source ~/.zshrc"

alias la='gls -la -log --group-directories-first --human-readable --color=always'

# use ccat
alias cat="ccat"

# show/hide desktop items
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Docker
alias docker="nerdctl"
alias docker-compose="nerdctl compose"
alias dk="nerdctl kill"
alias dls="nerdctl ps -a"
alias dsa="nerdctl kill $(nerdctl ps -q);"
alias di="nerdctl images -a"
alias dc="nerdctl container ls -a"
alias dri="nerdctl rmi $(nerdctl images -a -q);"
alias drc="nerdctl rm $(nerdctl ps -a -q);"
alias dra="nerdctl rmi $(nerdctl images -a -q); nerdctl rm $(nerdctl ps -a -q);"

# Bluetooth
alias connectairpods="blueutil --connect \"54-2b-8d-04-d9-cf\""
alias disconnectairpods="blueutil --disconnect \"54-2b-8d-04-d9-cf\" --wait-disconnect \"54-2b-8d-04-d9-cf\""

# Node Package Manager (primary)
alias n='pnpm'
alias ni='pnpm install'
alias nir='pnpm install --recursive'
alias niw='pnpm install --workspace'
alias na='pnpm add'
alias nag='pnpm add --global'
alias nad='pnpm add --save-dev'
alias nap='pnpm add --save-peer'
alias nr='pnpm remove'
alias nrd='pnpm remove --save-dev'
alias np='pnpm prune'
alias naudit='pnpm audit -r'
alias nold='pnpm outdated -r'
alias nwhy='pnpm why -r'
alias nx='pnpm dlx'
alias ns='pnpm start'
alias nb='pnpm build'
alias nd='pnpm dev'

# Projects
alias dev="cd ~/dev"
alias sx="cd ~/dev/sandbox"
alias iowa="cd ~/dev/iowa-monorepo"
alias iapp="cd ~/dev/iowa-monorepo/app"
alias iapi="cd ~/dev/iowa-monorepo/api"
