init.author.name=Ryan Crosser
init.author.email=ryankcrosser@gmail.com
init-license=Apache-2.0
recursive-install=false
auto-install-peers=true

python=python2.7
CYPRESS_INSTALL_BINARY=/Users/rcrosser/dev/programs/cypress.zip
